body {
  background-color: #383B53;
  color: #FFFFFF;
  font-family: sans-serif;
}

/* Logo styling */
header img {
  display: block;
  margin: 0 auto;
}

/* FilePond container layout */
.filepond-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

/* Adjust to one column on mobile */
@media (max-width: 600px) {
  .filepond-container {
    grid-template-columns: 1fr;
  }
}

/* Adjust to two columns on desktop */
@media (min-width: 601px) {
  .filepond-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* FilePond wrapper styling */
.filepond-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FilePond instance styling */
.filepond--root {
  background-color: #6CC8F8;
  color: #383B53;
  font-size: 18px; /* Adjust as needed */
}

.filepond--root .filepond--label-action {
  color: #383B53;
}

/* the background color of the filepond drop area */
.filepond--panel-root {
  background-color: #6CC8F8;
}

.filepond--item {
  width: calc(50% - 0.5em);
}

@media (min-width: 30em) {
  .filepond--item {
    width: calc(50% - 0.5em);
  }
}

@media (min-width: 50em) {
  .filepond--item {
    width: calc(33.33% - 0.5em);
  }
}

/* FilePond name field styling */
.filepond-name {
  background-color: #383B53;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px; /* Adjust as needed */
  padding: 5px;
  margin: 10px 0;
}

/* Markdown field styling */
table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
  border: 0.5px solid #66717E;
  border-radius: 5px; /* For rounded corners */
  background-color: #383B53;
  color: #66717E; /* Adjusted font color */
  font-size: 09px; /* Adjust as needed */
}

table th, table td {
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #383B53;
}
